html, body, #root {
  min-height: 100vh;
}

.center {
  position: relative;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
}

.c {
  width: fit-content;
}

.flex, .flex2 {
  display: flex;
  align-items: center;
}
.flex {
  justify-content: space-around;
}
.flex2 {
  justify-content: flex-start;
  gap: 16px;
}

.logo {
  height: calc(clamp(1.8125rem, calc(.25rem + 5vw), 4rem) * 4);
  filter: contrast(0) brightness(0) invert(3%) sepia(70%) saturate(4799%) hue-rotate(255deg) brightness(90%) contrast(97%);
  -webkit-filter: contrast(0) brightness(0) invert(3%) sepia(70%) saturate(4799%) hue-rotate(255deg) brightness(90%) contrast(97%);
}

.desc {
  position: relative;
  margin-top: -16px;
  z-index: 1;
}

.deco {
  position: absolute;
  translate: 0% -100%;
}

.i {
  overflow: visible !important;
  filter: brightness(0) invert(75%) sepia(45%) saturate(187%) hue-rotate(215deg) brightness(99%) contrast(99%);
  -webkit-filter: brightness(0) invert(75%) sepia(45%) saturate(187%) hue-rotate(215deg) brightness(99%) contrast(99%);
}

.glow {
  overflow: visible !important;
  filter: drop-shadow(0px 0px 0px var(--light)) drop-shadow(0px 0px 150px var(--light));
  -webkit-filter: drop-shadow(0px 0px 0px var(--light)) drop-shadow(0px 0px 150px var(--light));
  animation: glow 5s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes glow {
  from {
    filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 150px var(--light));
    -webkit-filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 150px var(--light));
  }
  50% {
    filter: drop-shadow(0px 0px 5px var(--light)) drop-shadow(0px 0px 50px var(--light));
    -webkit-filter: drop-shadow(0px 0px 5px var(--light)) drop-shadow(0px 0px 50px var(--light));
  }
  to {
    filter: drop-shadow(0px 0px 5px transparent) drop-shadow(0px 0px 150px var(--light));
    -webkit-filter: drop-shadow(0px 0px 5px transparent) drop-shadow(0px 0px 150px var(--light));
  }
}
@-webkit-keyframes glow {
  from {
    filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 150px var(--light));
    -webkit-filter: drop-shadow(0px 0px 0px transparent) drop-shadow(0px 0px 150px var(--light));
  }
  50% {
    filter: drop-shadow(0px 0px 5px var(--light)) drop-shadow(0px 0px 50px var(--light));
    -webkit-filter: drop-shadow(0px 0px 5px var(--light)) drop-shadow(0px 0px 50px var(--light));
  }
  to {
    filter: drop-shadow(0px 0px 5px transparent) drop-shadow(0px 0px 150px var(--light));
    -webkit-filter: drop-shadow(0px 0px 5px transparent) drop-shadow(0px 0px 150px var(--light));
  }
}

.outline {
  opacity: 0;
  animation: glow2 5s ease-in-out infinite;
  animation-delay: 1s;
}
.outline2 {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  animation: glow3 5s ease-in-out infinite;
}

@keyframes glow2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes glow2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  to {
    opacity: 0;
  }
}

@keyframes glow3 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes glow3 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

.btn, .btn::before, .btn2, .btn2::before {
  font-weight: 700;
  transition: 300ms;
  cursor: pointer;
}
.btn, .btn2 {
  padding: 8px;
  border-radius: 32px !important;
  padding-inline: 16px;
  color: var(--light);
}
.btn {
  background-color: var(--juststudio-ultra-violet);
}
.btn2 {
  background-color: var(--dark);
}
.btn::before, .btn2::before {
  content: attr(data-text);
  position: absolute;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: transparent;
  text-decoration-color: var(--light);
  border-radius: 8px !important;
  text-wrap: nowrap;
  transform: scaleX(0) skew(20deg);
  translate: -50% 0%;
}
.btn:hover::before, .btn2:hover::before {
  transform: scaleX(1) skew(0deg);
  translate: 0% 0%;
}
